<link rel="stylesheet" href="assets/css/sidebar.css" media="screen" title="no title" charset="utf-8">
<div ng-controller="BankController">
  <table>
    <tr>
      <td>
      </td>
      <td>
        <img src="/assets/images/beefalo.png" width="300" height="200"/>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <img src="/assets/images/beefalo.png" width="300" height="200"/>
      </td>
      <td id="IMbortant">
          {{balance}}
      </td>
      <td>
        <img src="/assets/images/beefalo.png" width="300" height="200"/>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <img src="/assets/images/beefalo.png" width="300" height="200"/>
      </td>
      <td>
      </td>
    </tr>
  </table>

</div>
